.button {
    width: 100%;
    padding: 8px 16px;
    border-radius: 4px;
    border: 1px solid #ccc;
    text-transform: uppercase;
    font-size: 14px;
    font-weight: 500;   
}

.contained {
    background-color: #1975d2;
    color: #fff;   
    border: 1px solid #1975d2;

}
.contained:hover {
    background-color: #fff;
    color: #1975d2;
}

.outlined {
    background-color: transparent;
    color: #1975d2;
    border: 1px solid #1975d2;
}
.outlined:hover {
    background-color: #1975d2;
    color: #fff;
}