.footer-section {
    margin: 16px;
}
.footer-section-title {
    font-size: 20px;
    font-weight: 500;
}

.footer-section-list {
    list-style: none;
    margin: 16px 0px;
}

.footer-section-list > li {
    margin: 8px 0px;
    font-size: 16px;
}

.footer-section-list > li > a {
    color: #7e7e7e;
    text-decoration: none;
}