.header_container {
    margin: 16px auto;
    text-align: center;
    max-width: 500px;

}

.title{
    font-size: 48px;
    font-weight: 300;
}

.description{
    color:#939393;
    margin-top: 16px;
    font-size: 20px;
}