.price-card {
    min-width: 250px;
    border-radius: 8px;
    border: 2px solid #eeeeee;
    margin: 16px;
    box-shadow: 0px 2px 0px 0px rgba(0,0,0,0.16);
}
.price-card-header {
    padding: 16px 0px;
    background-color: #eeeeee;
    text-align: center;
    position: relative;
}

.price-card-header-star {
    position: absolute;
    height: 16px;
    right: 8px;
    top: 8px;
}
.price-card-title {
    font-size: 24px;
    font-weight: normal;
    color: #000;
}
.price-card-most-popular {
    font-size: 14px;
    font-weight: normal;
    color: #737373;
    margin-top: 8px;
}
.price-card-body {
    padding: 8px;
    background-color: #fff;
    text-align: center;
}
.price-card-price {
    font-size: 48px;
    font-weight: normal;
    color: #000;
    margin: 8px 0px;
}
.price-card-mo {
    font-size: 20px;
    font-weight: bold;
    color: #555454;
}
.price-card-features {
    margin: 24px 0px;
    font-size: 16px; 
    list-style: none;
}
.price-card-features > li {
    margin: 8px 0px;
}